// VSCode風レイアウト
layout {
    pane split_direction="vertical" {
        pane size="25%" split_direction="horizontal" {
            pane size="60%" {
                command "__HOME__/.local/share/aquaproj-aqua/bin/yazi"
            }
            pane size="40%" {
                command "__HOME__/.local/bin/git-dashboard"
            }
        }
        pane size="75%" split_direction="horizontal" {
            pane size="50%" split_direction="vertical" {
                pane
                pane
            }
            pane size="50%" split_direction="vertical" {
                pane
                pane
            }
        }
    }
}
