// VSCode風レイアウト
layout {
    pane split_direction="vertical" {
        pane size="20%" split_direction="horizontal" {
            pane size="60%" {
                command "yazi"
            }
            pane size="40%" {
                command "git-dashboard"
            }
        }
        pane size="80%" split_direction="horizontal" {
            pane size="50%" split_direction="vertical" {
                pane
                pane
            }
            pane size="50%" split_direction="vertical" {
                pane
                pane
            }
        }
    }
}
